body {
    background-image: url("vsc-fondo.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
::selection {
    background-color: #29B6F6;
    color: #fff;
}
a::selection{
    background-color: #29B6F6;
    color: #fff;
}
a{
    color:#29B6F6;
}
h1 {
    background-color: #111;
    text-align: start;
    color: whitesmoke;
    border: 3px solid #29B6F6;
    padding: 10px 20px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 10px;
}
section {
    background-color: #1111116c;
    color: whitesmoke;
    border: 3px solid #29B6F6;
    padding: 10px 20px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 10px;
}
h1, h2 , h3 {
    color: whitesmoke;
    text-align: center;
}
div {
    background-color: #1111112f;
    color:white;
    padding: 5px 20px;
    margin-top: 15px;
    text-align: left;
    border: 2px solid #0069B0;
    border-radius: 10px;
}
.links{
    color: red;
    text-align: center;
}
.vsc {
    margin-right: 40px;
}